@charset 'UTF-8';

@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

#app {
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-login {
  background-color: #ffffff;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.cont-login .img-tit {
  width: 122px;
  height: 24px;
  margin-bottom: 36px;
}

.cont-login .txt-login {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.cont-login .login-button {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  padding: 17px 0 15px;
  box-sizing: border-box;
}

/* modal style */

.modal-login {
  display: none;
  height: 100%;
}

.modal-login.on{
  display: block;
}

.modal-login::after {
  display: block;
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

.modal-login .cont-login-form {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 100%;
  max-width: 520px;
  background-color: #ffffff;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 20px 24px 25px;
  overflow: hidden;
}

.cont-login-form .tit-form {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 45px;
}

.cont-login-form .tit-form::after {
  display: block;
  content: '';
  width: 530px;
  height: 1px;
  background-color: #C4C4C4;
  position: absolute;
  left: 0;
  top: 58px;
}

.cont-login-form .txt-form {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

.form-login .module-input__id {
  margin-bottom: 6px;
}

.form-login .module-input__pw{
  margin-bottom: 17px;
}

.form-login .labl-hold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #767676;
}

.form-login .labl-hold::before{
  content: '';
  background-image: url(../images-login/icon_check_empty.png);
  width: 22px;
  height: 22px;
  display: inline-block;
  margin: 0 4px 0 8px;
  vertical-align: top;
}

.form-login .inp-hold:checked+.labl-hold::before {
  background-image: url(../images-login/icon_check.png);
}

/*  웹접근성을 위해서  */
.form-login .inp-hold:focus+.labl-hold::before {
  outline: 2px solid black;
  border-radius: 50%;
}

.form-login .login-button {
  margin: 21px 0 20px;
}
.form-login .cont-link {
  text-align: center;
  margin-bottom: 68px;
}

.form-login .close-button{
  position: absolute;
  top: 18px;
  right: 35px;
}

.form-login a[class^=link] {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
  text-decoration: none;
}

.form-login .link-signup::after {
  display: inline-block;
  content: '\007C';
  margin: 0 8px 0 12px;
}

.cont-sns-login .list-sns li+li {
  margin-top: 10px;
}

.cont-sns-login {
  position: relative;
}
.cont-sns-login::before {
  content: '또는';
  display: block;
  width: 52px;
  height: 18px;
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #fff;
  z-index: 10;
  color: #767676;
}

.cont-sns-login::after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: -30px;
  height: 1px;
  background: #c4c4c4;
}